.toggle {
  cursor: pointer;
}

.switch {
  background: #ddd;
  border-radius: 20px;
  display: inline-block;
  margin: 0 10px;
  height: 20px;
  position: relative;
  width: 50px;
}

.switch:after {
  background: magenta;
  border-radius: 50%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
}

input[type="checkbox"] {
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: -999999999em;
  left: auto;
  position: absolute;
}

span {
  font-weight: bold;
}

input[type="checkbox"]:checked ~ .yes,
input[type="checkbox"]:not(:checked) ~ .no {
  color: magenta;
}

input[type="checkbox"]:not(:checked) ~ .switch:after {
  left: auto;
  right: 3px;
}
